**/datasets/
**/exports/

.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
*.iws
*.ipr

**/venv/
**/.env
**/__pycache__/
*.py[cod]
*~
.pytest_cache/
.ipynb_checkpoints/


**/.dart_tool/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
coverage/
*.log

**/android/.gradle/
**/android/local.properties
**/android/**/*.keystore
**/android/**/*.jks
**/android/app/src/main/google-services.json

**/.cxx/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json